/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#include <behaviors/mouse_key_press.dtsi>
#include <behaviors/mouse_move.dtsi>
#include <behaviors/mouse_scroll.dtsi>

#define U_TAP_MS 10
#define U_WAIT_MS 10

#define ______ &trans

#define DEFAULT_MAC 0
#define DEFAULT_LINUX 1
#define NUMERIC 2
#define SYMBOL 3
#define FUNCTION 4
#define MEDIA 5
#define MOUSE 6
#define DEFAULT_GAMING 7
#define GAMING_NUMERIC 8
#define GAMING_FUNCTION 9

&mmv {
   time-to-max-speed-ms = <450>;
   acceleration-exponent=<2>;
};

/ {
    behaviors {
        no_aa_mac: no_aa_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp A>
                , <&macro_release &kp LALT>;
        };
        no_ae_mac: no_ae_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp SQT>
                , <&macro_release &kp LALT>;
        };
        no_oe_mac: no_oe_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp O>
                , <&macro_release &kp LALT>;
        };
        no_aa_linux: no_aa_linux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp W>
                , <&macro_release &kp RALT>;
        };
        no_ae_linux: no_ae_linux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp Z>
                , <&macro_release &kp RALT>;
        };
        no_oe_linux: no_oe_linux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp L>
                , <&macro_release &kp RALT>;
        };

        dot_mod: dot_mod {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&kp DOT>, <&kp COLON>;
        };
        comma_mod: comma_mod {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&kp COMMA>, <&kp SEMI>;
        };
        sqt_macro: sqt_macro { 
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_tap &kp SQT>
                , <&macro_tap &kp SPACE>;
        };
        dqt_macro: dqt_macro { 
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_tap &kp DQT>
                , <&macro_tap &kp SPACE>;
        };
        qt_mod: qt_mod {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&sqt_macro>, <&dqt_macro>;
        };
        caret_macro: caret_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_tap &kp CARET>
                , <&macro_tap &kp SPACE>;
        };
        tilde_macro: tilde_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <U_WAIT_MS>;
            tap-ms = <U_TAP_MS>;
            bindings
                = <&macro_tap &kp TILDE>
                , <&macro_tap &kp SPACE>;
        };
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        }; 
    };

    keymap {
        compatible = "zmk,keymap";
        mac_default_layer {
            bindings = <
                &kp ESC           &kp Q        &kp W       &kp E       &kp R           &kp T             &kp Y            &kp U                 &kp I      &kp O       &kp P             &no_aa_mac
                &mo MEDIA         &kp A        &hm LCTRL S &hm LGUI D  &hm LALT F      &kp G             &kp H            &hm LALT J            &hm LGUI K &hm LCTRL L &no_oe_mac        &no_ae_mac
                &to DEFAULT_LINUX &hm LSHIFT Z &kp X       &kp C       &kp V           &kp B             &kp N            &kp M                 &comma_mod &dot_mod    &hm LSHIFT MINUS  &qt_mod
                                                           &kp ESC     &lt SYMBOL TAB  &lt MOUSE SPACE   &lt FUNCTION RET &lt NUMERIC BACKSPACE &kp DEL
            >; 
        };
        linux_default_layer {
            bindings = <
                &kp ESC            &kp Q        &kp W       &kp E         &kp R           &kp T             &kp Y            &kp U                 &kp I       &kp O       &kp P            &no_aa_linux
                &mo MEDIA          &kp A        &hm LCTRL S &hm LGUI D    &hm LALT F      &kp G             &kp H            &hm LALT J            &hm LGUI K  &hm LCTRL L &no_oe_linux     &no_ae_linux
                &to DEFAULT_GAMING &hm LSHIFT Z &kp X       &kp C         &kp V           &kp B             &kp N            &kp M                 &comma_mod  &dot_mod    &hm LSHIFT MINUS &qt_mod
                                                            &kp ESC      &lt SYMBOL TAB  &lt MOUSE SPACE   &lt FUNCTION RET &lt NUMERIC BACKSPACE &kp DEL
            >;
        };
        
        numeric_layer {
            bindings = <
                &kp AMPS &kp FSLH         &kp N1        &kp N2      &kp N3      &kp MINUS ______   ______        &kp UP         ______          ______           ______
                &kp PIPE &kp STAR         &hm LCTRL N4  &hm LGUI N5 &hm LALT N6 &kp PLUS  ______   &hm LALT LEFT &hm LGUI DOWN  &hm LCTRL RIGHT ______           ______
                &kp EXCL &hm LSHIFT QMARK &kp N7        &kp N8      &kp N9      &kp EQUAL ______   ______        &comma_mod     &dot_mod        &hm LSHIFT MINUS ______
                                                        &kp N0      &kp TAB     &kp SPACE ______   ______        ______
            >;
        };
        symbol_layer {
            bindings = <
                ______ ______ ______ ______ ______ ______   &kp LBKT   &kp LPAR  &kp RPAR &kp RBKT     &kp BSLH     &kp GRAVE
                ______ ______ ______ ______ ______ ______   &kp HASH   &kp LBRC  &kp RBRC &caret_macro &kp AT       &kp PERCENT
                ______ ______ ______ ______ ______ ______   &dqt_macro &kp LT    &kp GT   &kp DLLR     &tilde_macro ______
                                     ______ ______ ______   &kp RET    &kp BSPC  &kp DEL
            >;
        };
        function_layer {
            bindings = <
                ______     ______     &kp F1       &kp F2      &kp F3      &kp F10   ______ ______         &kp UP        ______          ______     ______
                ______     ______     &hm LCTRL F4 &hm LGUI F5 &hm LALT F6 &kp F11   ______ &hm LALT LEFT  &hm LGUI DOWN &hm LCTRL RIGHT ______     ______
                ______     &kp LSHIFT &kp F7       &kp F8      &kp F9      &kp F12   ______ ______         ______        ______          &kp LSHIFT ______
                                                   &kp LSHIFT  ______      ______    ______ ______         ______
            >;
        };
        media_layer {
            bindings = <
                ______ &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP ______       ______       ______ ______   &kp UP   ______    ______ &bt BT_CLR
                ______ &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 ______ &kp LEFT &kp DOWN &kp RIGHT ______ ______
                ______ ______       &kp C_PLAY   &kp C_STOP   &kp C_PAUSE  ______       ______ ______   ______   ______    ______ ______
                                                 ______       ______       ______       ______ ______   ______
            >;
        };
        mouse_layer {
            bindings = <
                ______ ______ ______ ______ ______ ______  ______    &msc SCRL_DOWN &mmv MOVE_UP   &msc SCRL_UP    ______ ______
                ______ ______ ______ ______ ______ ______  ______    &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT ______ ______
                ______ ______ ______ ______ ______ ______  ______    ______         ______         ______          ______ ______
                                     ______ ______ ______  &mkp LCLK &mkp RCLK      &mkp MCLK
            >;
        }; 
        gaming_default_layer {
            bindings = <
                &kp ESC     &kp Q  &kp W   &kp E    &kp R                    &kp T                     ______ ______   &kp UP   ______    ______ ______
                &kp LSHIFT  &kp A  &kp S   &kp D    &kp F                    &kp G                     ______ &kp LEFT &kp DOWN &kp RIGHT ______ ______ 
                &kp LCTRL   &kp Z  &kp X   &kp C    &kp V                    &kp B                     ______ ______   ______   ______    ______ &to DEFAULT_MAC
                                          &kp TAB   &lt GAMING_FUNCTION RET  &lt GAMING_NUMERIC SPACE  ______ ______   ______
            >;
        };
        gaming_numeric_layer {
            bindings = <
                &kp ESC     ______ &kp N1  &kp N2 &kp N3 ______ ______ ______ ______ ______ ______ ______
                &kp LSHIFT  ______ &kp N4  &kp N5 &kp N6 ______ ______ ______ ______ ______ ______ ______
                &kp LCTRL   ______ &kp N7  &kp N8 &kp N9 ______ ______ ______ ______ ______ ______ ______
                                           ______ ______ ______ ______ ______ ______
            >;
        };
        gaming_function_layer {
            bindings = <
                &kp ESC     ______ &kp F1  &kp F2 &kp F3 ______ ______ ______ ______ ______ ______ ______
                &kp LSHIFT  ______ &kp F4  &kp F5 &kp F6 ______ ______ ______ ______ ______ ______ ______
                &kp LCTRL   ______ &kp F7  &kp F8 &kp F9 ______ ______ ______ ______ ______ ______ ______ 
                                           ______ ______ ______ ______ ______ ______
            >;
        };
    };
};
